.modal {
    position: fixed;
    left: auto;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--White);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.modal-content > h1, h2, h3, h4, h5, h6 {
    color: darkblue;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
}

.modal-title {
    font-weight: bold;
    color: var(--White);
    background-color: var(--Primary);
    border-radius: 0.25rem;
    padding: 0.2rem 1.5rem;
}

.close-button {
    float: right;
    width: 1.6rem;
    font-weight: bold;
    line-height: 1.6rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/* Small devices, Mobile phone*/
@media (max-width: 575.9px){
    .modal-content {
        left: 50%;
        right: 50%;
        width: 50%;
    }
    .modal-content > h1{
        font-size: 15px;
    }
}