.scroll-to-top {
    position: relative;
  }
  
  .btn-scroll-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  
  .btn-scroll-style {
    background-color: var(--NeutralMedium);
    border: 2px solid var(--White);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: var(--White);
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    box-shadow: 0 2px 5px rgba(000, 000, 000, .3);
    transition: all 0.5s ease-in-out;
    line-height: 45px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  
  .icon-style:hover {
    animation: none;
    background: var(--White);
    color: var(--NeutralMedium);
    border: 2px solid var(--NeutralMedium);
  }
  
  @keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @media (min-width: 992px) {
    .btn-scroll-style {
        height: 55px;
        width: 55px;
        line-height: 50px !important;
    }
  }
  